# Example of .env file
# 
# Copy this file content to .env and fill in the values
# This file is used as example and should not be used in production

# Port
PORT=4000

# GitHub repository URL
GITHUB_REPOSITORY_URL="https://github.com/example/repo.git"

# Branch name
GITHUB_BRANCH="main"